header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    border-bottom: 10px solid #F7F7F7;
    .header-logo{
        img{
            width: 100%;
            cursor: pointer;
        }
    }
    nav{
        .header-nav{
            position: relative;
            display: flex;
            li{
                margin-left: 15px;
                border-bottom: 2px solid transparent;
                transition: border-bottom .8s ease-out;
                a{
                    color: black;
                    text-transform: uppercase;
                    font-size: 18px;
                } 
                &:hover{
                    border-bottom: 2px solid red; 
                }      
              }
            .active{
                border-bottom: 2px solid red;
            }
            .pages-nav{
                position: absolute;
                top: 100px;
                background-color: black;
                padding:10px;
                transition: top 0.5s ease-in-out;
                z-index: -1;
                opacity: 0;
                li{
                    margin-top: 10px;
                    a{
                        font-size: 14px;
                        color: white;
                    }
                }
            }
            .pages:hover .pages-nav{
                top: 20px; 
                z-index: 1;
                opacity: 1;
            }
           

         }
}
.social-nav{
    ul{
        display: flex;
        li{
            position: relative;
            margin-left: 15px;
            a{
                color: black;
                font-size: 20px;
            }
            span{
                position: absolute;
                bottom: 20px;
                left: 12px;
                background-color: black;
                color: white;
                font-size: 15px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .login-register{
             a{
                letter-spacing: 2px;
                color: #979595;
                font-size: 16px;
             }
        }
    }
}
.header-btn{
    width: 35px;
    height: 35px;
    background-color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
    border: 1px solid black;
    outline: none;
}
}



//responsive phone 
@media screen  and (min-width:320px) and (max-width:480px){
    header{
        
        .header-logo{
            width: 100px; 
            img{
                width: 100%;
            }
        }
        .social-nav, nav{
            display: none;
        }
        .header-btn{
            display: block;
        }
    }
    
}


//responsive tablet
@media screen  and (min-width:481px) and (max-width:768px){
    header{
        
        .header-logo{
            width: 100px; 
            img{
                width: 100%;
            }
        }
        .social-nav, nav{
            display: none;
        }
        .header-btn{
            display: block;
        }
    }
    
}

