#countdown{
    height: 65vh;
    .container{
        .countdown-content{  
            height: 65vh;
            display: flex;
            .countdown-img{
                width: 50%;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            .countdown-count{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50%;
                background-color: #F4F4F4;
                position: relative;
                .countdown-title{
                    
                    background-color: white;
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    .title{
                        text-align: center;
                        position: absolute;
                    h1{
                        font-size:18px;
                        font-weight: 100;
                    }
                    h3{
                        text-align: center;
                        width: 100%;
                       
                        color: red;
                        margin: 15px 0;
                        font-size: 40px;
                       
                    }
                    span{
                        font-size: 25px;
                        font-weight: bold;
                        color: red;
                    }
                    }
                }
            }
            a{
                margin: 50px 0;
                text-transform: uppercase;
                color: black;
                font-size: 20px;
                border-bottom: 2px solid red;
            }
        }
    }
}

@media screen and (min-width:320px) and (max-width:768px){
    #countdown{
        height: auto;
        .container{
            max-width: 100%;
            .countdown-content{
                height: auto;
                flex-direction: column;
                .countdown-img{
                    width: 100%;
                }
                .countdown-count{
                    width: 100%;
                }
            }
        }
    }
}

