.overlay{
    transition: all 1s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);;
    z-index: 100;
    .mobilemenu{
        z-index: 102;
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        height: 100vh;
        padding: 20px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .cancel-btn{
            width: 35px;
            height: 35px;
            color:black;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid gray;
            background-color: white;
            outline: none;
            font-size: 16px;
            cursor: pointer;
            margin-top: 20px; 
        }
        .social-nav{
            margin-top: 20px;
               width: 100%;
                display: flex;
                justify-content: center;
                li{
                    margin-left: 15px;
                    position: relative;
                    a{
                        color: black;
                        font-size: 20px;
                    }   
                    span{
                        position: absolute;
                        bottom: 20px;
                        left: 12px;
                        background-color: black;
                        color: white;
                        font-size: 15px;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }                 
                }
                
      
                
            
        }
        .header-logo{
            width: 100%;
            margin-top: 20px;
        }
        .menu{
            margin-top: 20px;
            width: 100%;
            min-height: 60px;
            height: auto;
            background-color: rgb(105, 105, 105);
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: flex-end;
            padding-right: 10px;
            .menu-bar-btn{
                margin: 10px 0;
                color: white;
                text-transform: uppercase;
                width: 90px;
                height: 30px;
                border-radius: 5px;
                background-color: rgb(59, 59, 59);
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                button{
                    border: none;
                    outline: none;
                    background-color: transparent;
                    cursor: pointer;
                    color: white;
                    font-size: 20px;
                }
            }
            .menu-open{
                width: 100%;
                li{
                    margin-left: 20px;
                    margin-bottom: 10px;
                    a{
                        color: white;
                        font-size: 18px;
                        text-transform: uppercase;
                    }
                    .pages-nav{
                        display: none;
                    }
                    .pages-open{
                        display: block;
                    }
                }
                .pages{
                    p{
                        display: flex;
                        align-items: center;
                    }
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                }
            }
        }
        .login-register{
            margin-top: 10px;
            width: 100%;
            a{
               letter-spacing: 2px;
               color: black;
               font-size: 18px;
            }
       }
    }
}

.overlay-active{
    left: 0; 
}

.overlay-deactive{
    left: -100%; 
}
